<!DOCTYPE html>
<html>
    <head>
        <title>kimbrook.org</title>
        <!-- <style></style> -->
    </head>
    <body>
        <h1>Let's get you verified!</h1>
        <h2>Verfication is not required but hosts may reject your request to join their event if your account is not verified as living in the neighborhood.
            Provide your address below and we will send you a letter to this address with a code you can use to verify your account.
        </h2>
        <form action="/setup" method="post">
            <div>
                <label>Street address:</label>
                <input type="text" id="address" name="address" placeholder="123 Main St">
            </div>

            <br>

            <div>
                <input type="submit">
            </div>
        </form>
    </body>
</html>